<div class="container-d">
  <div class="row">
    <div class="col-md-12 margin-bottom">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <h4 style="margin-bottom: 0">Simulador de redes EON con multiples nucleos</h4>
            <h5>Desfragmentador</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <h4>Opciones</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Bloqueos</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <h4>Gráficos </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
